/* 000000f0 */
/* polygon(-17% -31px, 100% 24%, 100% 75%, 39% 100%, -1px 71%, 0px 25%) */

body {
  /* background: #1D1D1B !important ; */
  background: #090B0D;
  color: #FFF !important;
}
.navbar{
/* border: 1px solid #FFF; */
/* background: rgba(166, 166, 166, 0.20); */
background: #090B0D;
backdrop-filter: blur(51.375px);
}
.navbar span{
  color: #FFF;
}
.ulListF {
  color: #FFF;
  font-size: 15px;
  text-align: left;
  margin-top: 1rem;
  font-family: 'Be Vietnam Pro';
  padding-left: 20px !important;
  font-weight: 100;
  line-height: 1.7rem;
}
.contactBt,.contactBt:hover,.contactBt:active,.contactBt:focus-visible{
  border-radius: 1.5rem;
  /* padding: 0.6rem 3rem;  */
  color: #090B0D;
  background: var(--Secondry, #F4F4F4) !important;
  border: 1px solid var(--Secondry, #F4F4F4) !important;
  font-weight: 500;
  padding-left: 18px;
}
.contactBt img {
  margin-left: 5px;
  width: 37px;
  border-radius: 100%;
  background: #FF595D;
  padding: 6px;
}
.LandingV {
  /* margin-left: -20px; */
  /* clip-path: polygon(37% 14%, 100% 17%, 95% 66%, 50% 89%, 5% 67%, 1% 17%); */
  clip-path: polygon(37% 19%, 97% 20%, 94% 66%, 50% 84%, 6% 67%, 4% 18%);
}
.LandingVDiv{
  margin-top: -3.9rem;
}
.playButton,.playButton:hover,.playButton:active,.playButton:focus-visible {
  background:rgba(166, 166, 166, 0.05);
  background-color:rgba(166, 166, 166, 0.05) !important;
  border-radius: 88%;
  border: 1px solid #FFF !important;
  padding: 0.7rem 0.7rem;
  width: 50px;
  margin-left: 1rem;
  backdrop-filter: blur(6.375609874725342px);
  box-shadow: none !important;
}
.playButton img{
  padding-left: 2px;
}
.ThreeDButtons {
  margin-top: -3.5rem;
  z-index: 1;
  display: flex;
  flex-direction: row;
  padding: 30px 10px;
  margin-bottom: 20px;
}
.ThreeDButtons button {
  /* border: 1px solid #FFF; */
  border-radius: 10px !important;
  width: 250px;
  font-family: 'Roboto' !important;
  border: 1.5px solid #FFF;
  background: var(--Black-Shade-1, #18181B) !important;
  margin-right: 50px !important;
  padding: 10px;
}

.ThreeDButtons button:hover {
  border: 1px solid #FFF !important;
  background: var(--Black-Shade-1, #18181B) !important;
}
.ThreeDButtons p {
  display: inline;
  padding-left: 10px;
  font-family: 'Roboto';
}


.ThreeDButtons span {
  color: #FF4233;
  font-family: 'Roboto';
}

.ThreeDButtons img {
  /* width: 15%; */
  display: inline-block;
}

.showCaseParentDiv button,.showCaseParentDiv button:hover,.showCaseParentDiv button:active {
  border-radius: 100px;
  border: 1px solid #FFF !important;
  background: #FFF !important;
  backdrop-filter: blur(50px);
  margin-top: 3rem;
  padding: 10px 30px 10px 30px;
  color: #090B0D !important;
  font-weight: 500;
}
.aboutServices {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #F4F4F4;
  /* border: 1px solid #bebebe; */
}

.aboutServices h3 {
  color: #090B0D;
  font-family: "Be Vietnam Pro" !important;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  padding: 25px 20px 15px 25px;
  /* background:  #bebebe !important  ; */
  /* border-bottom: 1px solid #000 !important  ; */
  border-top-left-radius: 10px;
  margin-bottom: 0 !important;
  background: linear-gradient(90deg, #FFBCBC 7.63%, #FFE5E5 94.44%);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.servicesButtonDiv {
  /* width: 40%; */
  padding-top: 10px;
  padding-left: 10px;
  /* background: var(--Secondry, #F4F4F4); */
  text-align: center;
  border-radius: 11.071px;
  background: var(--Secondry, #F4F4F4);
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  /* overflow-x: scroll; */
}
.servicesButtonDiv button img{
  margin-right: 5px;
}
.hoverIcon{
  display: none;
}
.servicesButtonDiv button{
color: var(--Black-Shade-1, #18181B);
}
.servicesButtonDiv button ,.servicesButtonDiv button:hover  {
  text-align: left;
  background: var(--Secondry, #fff) !important;
  border: none;
  /* border-bottom: 1px solid #C1BDBD; */
  font-family: "Be Vietnam Pro" !important;
  
  font-size: 16px;
  margin-bottom: 10px;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  font-weight: 600;
  height: 70px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 5px;
}
.servicesButtonDiv button:hover,.servicesButtonDiv button:active,.servicesButtonDiv button:focus{
 color: var(--Primary, #FF595D) !important;
}

.servicesButtonDiv button:focus-visible {
  border: none !important;
}


.servicesButtonDiv button:hover .hoverIcon,.servicesButtonDiv button:focus .hoverIcon,.servicesButtonDiv button:active .hoverIcon{
  display: flex !important;
}
.servicesButtonDiv button:hover .normalIcon,.servicesButtonDiv button:focus .normalIcon,.servicesButtonDiv button:focus .normalIcon{
  display: none !important;
}

/* .servicesDetailDiv h5 {
  color: var(--Tertiary, #090B0D) !important;
  font-family: "Be Vietnam Pro" !important;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
} */

/* .servicesDetailDiv {
  width: 60%;
  padding-top: 28px;
  padding-left: 30px;
  background: var(--White-Share-2, #C8C8C8);
} */

.servicesDetailDiv p {
  color: var(--Tertiary, #090B0D) !important;
  font-family: "Be Vietnam Pro" !important;
  font-size: 15px;
  font-style: normal;
  font-weight: 400 !important;
  /* text-transform: capitalize; */
}
.material3dImgDiv{
  padding: 10px 40px;
}
.material3dDiv img{
  width: 300px;
  margin-top: 20px;
}
.material3dDiv{
  background: var(--Black-Shade-1, #18181B);
  border-radius:20px;
  height: 100%;
  display: grid;
  text-align: center;
  border: 1px solid #fff;
}

.material3dDiv p{
  font-size: 20px;
  text-align: center;
  font-weight: 200;
  color: var(--White-Shade-1, #EEE);
  text-align: center;
}
.material3dDivCh{
  margin-top: -5rem;
}
.material3dDivCh h3{
  font-size: 30px;
  font-weight: 500;
}
.imgColsCr img{
  border-radius: 10px;
}
.carousel-control-prev-icon{
  margin-left: -14rem;
}
.carousel-control-next-icon{
  margin-right: -14rem;
}

.MobCrousel{
  display: none;
}
.deskCrousel{
  display: block;
}

button {
  font-family: 'Roboto' !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Roboto' !important;
}

.headingF {
  color: #FFF;
  font-family: "Be Vietnam Pro";
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 75px;
  width: 40rem;
}

.crouselItemf, 
.crouselItemL {
background: #000;
border-radius: 20px;
 height: 400px;
}

.crouselItemf h4 {
padding: 27px 30px 0 30px !important;
}

.crouselItemf h2 {
color: #FF4B4B !important;
font-size: 15px !important;
padding: 0 30px !important;
}

.crouselItemf p {
padding: 0 30px 15px 30px;
margin: 0;
font-size: 15px;
font-weight: 100;
min-height: 177.8px;
}

.crouselItemDivS {
display: flex;
flex-direction: row;
}

.crouselItemFimg {
margin-left: 30px;
width: 100px;
}

.crouselItemSimg {
margin-top: -110px;
border-bottom-left-radius: 20px;
width: 150px;
}
.textImg{
padding: 40px;
}
.textImgSpan{
margin-top: -29.2px !important;
min-height: 144.5px !important;
}
.textImgSpan span{
color: #C6C6C6;
font-size: 30px;
}
/* .crouselItemf img{
width: auto;
max-width: 100%;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
} */
.crouselItemL h4{
padding: 20px 20px 0px 20px !important;
font-size: 15px;
margin-bottom: 5px;
}
.crouselItemL h2{
font-size: 12px !important;
padding: 0px 20px 0 20px!important;
}
.crouselItemL p{
font-size: 12px !important;
padding: 0 20px 0 20px;
min-height: 100px !important;
font-weight: 300;
}
.crouselItemL .textImg{
padding: 20px 20px 10px 20px !important;
width: 222px;

}
.crouselItemL .textImgSpan{
min-height: 70px !important;
padding: 25px;
}
.crouselItemL .textImgSpan span{
  font-size: 20px !important;
  }
.crouselBtn{
  display: flex;
  flex-direction: row;
  place-content: flex-end;
}
.crouselBtn button.btn.btn-primary {
  margin: 8px;
  height: 40px;
  width: 70px;
  color: #FFF;
  background: #F8493B;
  border: 1px solid #F8493B;
  border-radius: 25px;
  /* font-size: 25px; */
  font-weight: 800;
  /* padding: 8px !important; */
}
.watchVideoDiv{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  align-items: center;
}
.playButtonDiv{
  display: flex;
align-items: center;
margin-left: 15px;
margin-right: 15px;
}
.showCaseDiv h4 {
  color: #FF4233;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0px;
  margin-top: -5rem;
  margin-bottom: 9px;
}

.showCaseDiv h2 {
  font-family: "Be Vietnam Pro" !important;
}

.aboutServicesParentDiv {
  background-color: #000;
}
.aboutServicesCol{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.catalog3DCol{
  /* background: #e7e7e7; */
  margin: 0 auto;
  display: grid;
  text-align: center;
  border-radius: 10px;
}
.catalog3DColImgDiv {
  place-items: center;
  display: grid;
  
}
.catalog3DColImgDiv img{
  place-items: center;
  border-radius: 10px;
}



.industryInsight h3 {
  color: #F13122;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 51.139px;
}

.industryInsight h4 {
  color: #FFF;
  font-family: "Be Vietnam Pro";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 57px;
  /* 142.5% */
  text-transform: capitalize;
}

.industryInsight {
  margin-top: -5rem;
}

.tabCrousel{
  display: none;
}

.socialLinks img {
  margin: 0 5px 0 5px;
  width: 30px !important;
  margin-top: -35px;
}
.footerUrls h5 {
  margin-top: 1.6rem;
  color: #FF422E;
  font-weight: 600;
}

.footerUrls .footerUrlsUl {
  margin-top: 1rem;
}

.footerUrlsUl li {
  padding-top: 7px;
  padding-bottom: 7px;
}

.subscribeInput {
  width: 22rem;
  background: rgb(221, 220, 220);
  color: rgb(17, 17, 17);
  padding: 0px 23px;
  border: 1px solid rgb(221, 220, 220);
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.subscribeInput:focus-visible {
  outline: none;
}

.subscribeButton {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
  background-color: #FF422E;
  border: 1px solid #FF422E;
  margin-left: 10px;
}

.subscribeButton:hover {
  background-color: #FF422E;
  border: 1px solid #FF422E;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
}

.subscribeDiv {
  margin-top: 1.6rem;
}
.logoName {
  margin-bottom: 0;
  background: #fff !important;
  color: #000 !important;
  font-weight: 500;
  text-align: center;
  padding: 5px 40px !important;
  font-size: 20px !important;
  border-radius: 15px 25px 25px 0px;
  margin-top: 10px;
  margin-left: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.startsDiv {
  margin-left: 55px;
  margin-top: 2px;
}
.topPad{
  margin-top: 50px;
}
.topBottomPad{
  margin-top: 50px;
  margin-bottom: 50px;
}
.topBottomPadMore{
  margin-top: 50px;
  margin-bottom: 100px;
}
.bg-dark{
  background-color: revert !important;
}
@media screen and (min-width: 992px) {
  .Commerce3DRow{
    padding-top: 40px;
  } 
  .Customized3DCol{
    margin-top: 50px;
  } 
  .FormModalClass .modal-body,.FormModalClass .modal-content{
    width: 900px !important;
    background: #1d1d1b !important; 
    border: 1px solid #F87171;
    border-radius: 10px;
  }
  .FormModalClass .formPDiv{
    border: none !important;
    border-radius: 0px !important;
    padding: 20px;
  }
  .FormModalClass .formPDiv .form-control{
    margin-bottom: 25px !important;
  }
  .FormModalClass .modal-header{
    padding: 0 15px 0 10px !important;
    margin-bottom: 10px !important;
    border-bottom: none !important
  }
  .aboutServices{
    padding: 0;
    height: 100%;
  }
  .aboutServicesCol{
  padding-right: 0;
}
/* .catalog3DCol{
  padding: 0;
} */
.servicesButtonDiv{
  padding-top: 15px;
  padding-bottom: 15px;
}
  .Commerce3D2{
    display: none;
  }
  .navBarDiv {
    background: #090B0D;
    /* background: linear-gradient(180deg, rgba(18, 18, 18, 0.00) 0%, rgba(18, 18, 18, 0.00) 0.01%, #02030B 49.53%); */
  }
  .navLogo {
    padding: 0 10px 0 0px;
    height: 50px;
    margin-left: 1.1rem;
  }
  .navbar {
    margin-top: 12px !important;
    margin-bottom: 12px !important;
  }
  .navbar-dark .navbar-brand,
  .navbar-dark .navbar-nav .nav-link {
    color: #FFF;
  }
  .nav-link{
    font-size: 17px;
    font-weight: 400;
}
.ThreeDCommColSecond {
  text-align: center;
}
.LandingV{
  margin-left: 20px !important;
}
  .navbar-dark {
    /* border-radius: 4rem; */
  }
  .navbar-nav:hover .nav-link+.nav-dropdown-hover .dropdown-menu {
    display: block;
    z-index: 1;
  }
  .dropdown-toggle::after {
    vertical-align: 0.199em !important;
  }
  .custom-navlink {
    background-color: #FF4233;
    border: 1px solid #FF4233;
    border-radius: 1.5rem;
    width: fit-content;
    color: #FFF;
    text-decoration: none;
    width: 6rem;
    text-align: center;
    padding: 5px 5px 5px 5px !important;
  }

  /* Styles for screens wider than 768 pixels */

  .navbar-expand-lg .navbar-collapse {
    place-content: flex-end;
  }
  
  .navbar-expand-lg .navbar-nav{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

  /* .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1.1rem !important;
    padding-right: 1.1rem !important;
  } */
  .navbar-nav button.btn.btn-primary{
    width: 120px;
    border-radius: 30px;
    padding: 0px !important;
    background: #FF4233;
    border: 1px solid #FF4233;
    margin: 0 !important;
}

  .custom-navlink {
    margin-left: 1.1rem !important;
    margin-right: 1.1rem !important;
  }
  .Commerce3D {
    width: 150px;
  }

  .Commerce3DRow {
    place-content: flex-end;
  }
  .footerFDiv h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 50px;
    width: 35rem;
  }
}
@media screen and (max-width: 991px) {
  .hdRendererIMgs img{
    width: -webkit-fill-available !important;
  }
  .ThreeDButtons{
    display: none !important;
    /* flex-direction: column !important; */
  }
  img{
    width: auto !important;
    max-width: 100% !important;
  }
  .Commerce3DDiv{
    text-align: -webkit-right;
  }
  .Commerce3D2 {
    width: 115px !important;
    margin-top: -4rem;
}
  .Commerce3DRow{
    display: none;
  }
  .sCrouselDiv{
    display:none;
  }
  .crouselItemf h4 {
    padding: 27px 40px 0 25px !important;
    }
    
    .crouselItemf h2 {
    padding: 0 25px !important;
    }
  .crouselItemf p {
    padding: 0 40px 15px 25px;
    margin: 0;
    font-size: 15px;
    font-weight: 100;
    }
    .crouselItemSimg{
      width: 150px !important;
    }
    .crouselItemFimg{
      width: 100px !important;
    }
    .crouselBtn{
      place-content: flex-start !important;
    }
    .headingF{
      font-family: "Be Vietnam Pro" !important;
      font-size: 30px;
      width: 20rem;
      font-style: normal;
      margin-top: 25px;
      line-height: 40px;
      padding: 0 10px;
  }
  .navLogo{
    width: 45px !important;
    margin: 0 5px 0 5px;
}
.navbar-toggler{
  border-radius: 26.613px !important;
border: 0.484px solid #FF4233 !important;
/* background: var(--saaa, linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(90deg, rgba(251, 24, 7, 0.10) -51.32%, rgba(255, 66, 46, 0.10) 98.95%)) !important; */
background: #090B0D !important;
padding: 7px !important;
}
.ulListF{
  font-size: 13px !important;
  margin-top: 0.8rem !important;
  padding-left: 30px !important;
  font-weight: 300 !important;
}
.navbar span{
    font-size: 20px !important;
    font-weight: 500;
}
.watchVideoDiv{
  margin-top: 0px !important;
  margin-left: 10px !important;
}
.contactBt{
  padding: 0.5rem 1.5rem !important;
  font-size: 15px !important;
}
.playButton{
  margin:0 !important;
  padding:0.6rem 0.6rem !important;
  width: 45px !important;
}
.showCaseDiv h4 {
  line-height: 15px !important;
  letter-spacing: 0px !important;
  margin-top: 0 !important;
  margin-bottom: 25px !important;
  font-size: 25px !important;
}
.showCaseParentDiv button {
  margin-top: 0.9rem;
  padding: 5px 20px 5px 20px;
}
.cols{
  margin-top: 15px;
  margin-bottom: 15px;
}
.aboutServices{
border-radius: 10px;
}
.aboutServices h3{
border-top-right-radius: 10px;
}
.catalog3DCol{
  background: none !important;
}
.catalog3DColImgDiv{
  background: #e7e7e7;
  margin: 0 auto;
  display: grid;
  text-align: center;
  border-radius: 10px;
  padding: 15px;
  border-radius: 0 0 10px 10px !important;
}
.servicesButtonDiv {
  width: auto !important;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  padding-bottom: 10px;
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.servicesButtonDiv::-webkit-scrollbar ,.ThreeDButtons::-webkit-scrollbar {
  display: none;
}
.servicesButtonDiv button{
  width: 195px;
  margin-left: 0px ;
  margin-right: 10px;
  border-radius: 10px !important;
  margin-bottom: 0px;
  height: 60px;
}
.servicesButtonDivS{
  display:none;
}
/* .servicesDetailDiv {
  padding-left: 15px !important;
} */
.aboutServicesCol,.aboutServices {
  border-bottom-left-radius: 0px !important;
}
.industryInsight h3{
  line-height: 30px !important;
}
.industryInsight{
  margin-top: 0;
}
/* .servicesDetailDiv{
  width: 100%;
  height: 475px;
} */
/* .servicesDetailDiv h5{
  margin-bottom: 20px;
} */
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .Customized3DCol{
    width: 100%;
  } 
  .iframePDivCol{
    width: 100%;
  }
  .iframeBtDiv h4{
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
    font-size: 15px;
  }
  .iframePlayDiv{
    margin-bottom: 0.2rem;
  }
  .iframePlayDiv p{
    font-size: 13px;
  }
  .navbar{
    /* border-radius: 4rem; */
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .navLogo {
    margin: 0px 5px 0 15px;
}
.navbar-toggler{
  margin-left: 15px;
  margin-right: 15px;
}
.Commerce3D{
  width: 125px !important;
}
.headingF{
  font-size: 28px;
  width: 15rem;
}
.ulListF{
  margin-top:0.5rem !important;
  margin-bottom: 0.8rem !important;
}
.contactBt img{
  width:35px !important;
}
.contactBt {
  padding: 0.4rem 1rem 0.4rem 1.5rem !important;
}
.watchVideoDiv{
  margin-bottom: 30px;
  margin-top: 15px !important;
}
.LandingVDiv {
  margin-top: -1rem;
}
.LandingV{
  margin-left: revert;
} 
.ThreeDButtons{
  display: flex !important;
}
.ThreeDButtons img{
  width: 20% !important;
}
.ThreeDButtons p{
  font-size: 11px !important;
  padding-left: 5px !important;
}
.ThreeDButtons button{
  width: fit-content !important;
  margin-right: 10px !important;
  padding: 15px;
}
.ThreeDButtons{
  margin-top:-1.5rem !important;
  margin-bottom: 12px !important;
  padding: 30px 20px !important;
}
/* .servicesDetailDiv {
  padding-bottom: 32px;
} */
.carousel-control-prev-icon{
  margin-left: -7rem;
}
.carousel-control-next-icon{
  margin-left: -7rem;
}
  .aboutServices{
    border-radius: 10px !important;
    border-top-right-radius:0px !important;
    border-bottom-right-radius: 0px !important;
  }
  /* .servicesDetailDiv{
    width: 60%;
    max-width: fit-content;
} */
.aboutServicesCol {
  padding-right: 0;
}
.catalog3DColImgDiv{
  border-radius: 0 10px 10px 0px !important;
}
.aboutServices h3{
  border-top-right-radius: 0;
}
.Commerce3DRow{
  display: flex;
  justify-content: flex-end;
  /* margin-top: 20px; */
  padding-top: 25px;
}
.Commerce3DDiv{
  display: none;
}
.material3dCol{
  margin: 0 !important;
}
.material3dDiv h3{
  font-size: 25px !important;
}
.material3dDiv p{
  font-size: 13px !important;
  margin-bottom: 30px !important;
  font-weight: 300 !important;
}
.material3dDivCh {
  padding: 0px !important;
  margin-top: -1rem !important;
}
.normalCrousel,.sCrousel{
 display: none;
}
.tabCrousel{
  display: block !important;
}
.crouselItemf p{
  min-height: 178.9px;
  font-size: 15px;
}
.crouselItemf h2{
  font-size: 15px !important;
}
.textImgSpan{
  min-height: 144.3px !important;
}
.industryInsight{
  margin-top: 0px !important;
}
.subscribeDiv h3{
  font-size: 20px !important;
}
.subscribeInputDiv{
  display: flex;
  flex-direction: column;
}
.subscribeInput{
  width: -webkit-fill-available !important;
  border-radius: 7px;
  margin-bottom: 15px;
}
.subscribeButton{
  margin: 0 !important;
  width: -webkit-fill-available !important;
}
.socialLinks img{
  width: 25px !important;
  margin-top: -20px !important;
}
.material3dDiv img{
  width: 200px !important;
  margin-top: 0px !important;
}
.material3dCol{
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
}
@media screen and (min-width: 1024px) and (max-width:1400px) {
  .ThreeDButtons{
    margin-top: 0px !important;
  }
  .crouselItemf h2{
    font-size: 20px !important;
  }
  .crouselItemf h4 {
    font-size: 30px !important;
  }
  .crouselItemf p{
    min-height: 164px;
    font-size: 20px !important;
  }
  .crouselItemf .textImgSpan span{
    min-height: 144.3px !important;
  }
  
  .servicesButtonDiv button{
    width:165px !important;
  }
  .custom-navlink{
    margin-left: 0 !important;
    padding-left: 5px !important;
  }
}
@media screen and (max-width:767px) {
  .iframePDiv{
    flex-direction:column !important;
  }
  .iframeCtrlDiv{
    width: auto !important;
  }
  .navbar{
    border: none !important;
    background: none !important;
  }
  .navLogo{
    margin: 0px 10px 0px 5px;
  }
  .Commerce3D2 {
    width: 90px !important;
    margin-top: -3rem !important;
}
.contactBt{
  padding: 0.5rem 1rem !important;
}
.contactBt img{
  width: 30px !important;
}
.LandingVDiv{
  margin-top: -1rem !important;
}
.LandingV{
  margin-left: 0px !important;
}
.showCaseParentDiv{
  margin-left: 0.5rem;
}
.showCaseDiv h4{
  font-size: 30px !important;
  font-weight: 600 !important;
}
.aboutServices{
  border-radius: 10px 10px 0px 0px !important;
}
/* .servicesDetailDiv {
  padding-bottom: 35px;
} */
.material3dDivCh{
  margin-top: -1rem !important;
}
.material3dDiv p{
  margin-bottom: 3rem;
  font-size: 15px !important;
  font-weight: 300 !important;
}
.subscribeInputDiv{
  display: flex !important;
  flex-direction: column !important;
}
.subscribeInput{
  width: -webkit-fill-available !important;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px !important;
}
.subscribeButton{
  margin:0 !important;
}
.socialLinks{
  margin-top: -20px;
}
.socialLinks img{
  width: 25px !important;
}
  .carousel-control-prev-icon{
    margin-left: 0 !important;
  }
  .carousel-control-next-icon{
    margin-right: 0 !important;
  }
  .MobCrousel{
    display: block !important;
  }
  .deskCrousel{
    display: none !important;
  }
  .catalog3DColImgDiv{
    padding: 0px;
    border-radius: 10px !important;
    margin-bottom: 15px;
  }
 
}
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark{
  z-index: 1;
}



.ListModalParentDiv ul{
  padding-left: 1rem !important;
}
.ListModalParentDiv ul li{
  color: #18181b;
  font-size: 16px;
  font-weight: 500;
  line-height: 35px;
}
.iframeCtrlDiv {
  display: flex;
  flex-direction: row;
  /* padding: 10px; */
  border-radius: 10px;
  width: 33.33%;
  padding: 18px;
  border-radius: 50px;
  border: 1px solid var(--Primary, #000); 
  /* #FF595D */
  background: var(--Black-Shade-1, #18181B);
  cursor: pointer;
}
.iframeCtrlDiv:hover,.iframeCtrlDiv:active,.iframeCtrlDiv:focus,.iframeCtrlDiv:focus-visible,.iframeCtrlDiv:focus-within {
  border: 1px solid #FF595D !important;
  background: var(--Black-Shade-1, #18181B) !important;
  box-shadow: none !important;
}
.iframeCtrlDiv:hover .iframePlayImg,.iframeCtrlDiv:active .iframePlayImg,.iframeCtrlDiv:focus .iframePlayImg {
  border: 1px solid #FF595D;
}
.videoCustDiv img {
  border-radius: 10px;
  height: 100%;
}
.videoCustDiv{
  padding: 5px;
}
/* .videoCustDiv,.iframeBtDiv{
  width: 50%;
} */
.iframeBtDiv {
  display: flex;
  /* margin: auto; */
  margin-left:10px;
  /* margin-right: 25px; */
  align-items: center;
}
.iframePlayDiv{
  display: flex;
  align-items: center;
  gap: 15px;
}
.iframeBtDiv h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
    margin-left:15px;
}
.iframePlayImg{
  width: 35px !important;
  border-radius: 100%;
  border: 1px solid #fff;
}
.iframePlayDiv img{
  width: 30px !important;
}
.iframePlayDiv p{
  font-size: 15px;
  font-weight: 500;
  color: #18181b;
}
/* .iframePDiv > div:nth-child(1){
  margin-bottom: 20px;
}
.iframePDiv > div:nth-child(2){
  margin-bottom: 20px;
} */
.iframePDiv{
  /* margin-bottom: 20px; */
}
.iframePlayImg:hover{
  cursor:pointer;
}
.iframePDiv{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.ListModalParentDiv{
  background: #fff;
  border-radius: 10px;
  height: 100%;
  padding: 4.5rem 1.5rem 4.5rem 1rem;
}
.CatalogHead{
  color: #FFF;
font-size: 41.517px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
margin-top: 15px;
margin-bottom: 15px;
}
/* .catalogContainer{
  border: 1px solid #fff;
  border-radius: 40px;
  padding: 1rem 2rem 2rem 2rem;
} */

.contactInfoP {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.contactInfoDiv {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 7px;
}
.contactInfoDiv img {
  width: 20px !important;
}
a{
  cursor: pointer;
}






@media screen and (max-width:767px) {
  /* .catalogContainer {
    padding: 10px;
    border-radius: 10px;
} */
.CatalogHead{
  font-size: 30px;
  margin-top: 10px;
}
.ListModalParentDiv{
  padding: 1.5rem 1rem;
}
.ListModalParentDiv ul li{
  font-size: 15px;
  line-height: 30px;
}
.servicesDetailDiv {
  margin-bottom: 20px;
}
.iframeC{
  height: 200px !important;
}
.iframeCtrlDiv{
  padding: 15px;
  margin-bottom: 10px;
}
.MobCrousel{
  margin-top: 0px;
  margin-bottom: 50px;
}
.FormModalClass .modal-content{
  background: #1d1d1b;
}
.FormModalClass .modal-body{
  background: #1d1d1b;
  border: 1px solid #F87171;
  border-radius: 10px;
}
.FormModalClass .modal-header{
  padding: 0;
  border-bottom: none;
}
/* .FormModalClass .modal-header button{
  background-color: #fff;
    border-radius: 100%;
    margin-top: 5px;
    margin-right: 10px;
} */
.formPDiv{
  padding: 0px !important;
  border: none;
}
}
@media screen and (min-width : 540px) and (max-width:767px) {
  .iframeC{
  height: 290px;
  }  
}
.FormModalClass .modal-header button{
  background-color: #fff;
    border-radius: 100%;
    margin-top: 5px;
    margin-right: 10px;
}
/* --notchange */
@media screen and (min-width : 767px) and (max-width:1023px) {
  .ThreeDCommColSecond,.ThreeDCommColFirst{
  width: 50%;
  }  
  .headingF {
    font-size: 25px;
    font-weight: 600;
    width: auto;
    /* margin-bottom: 0; */
  }
  .ThreeDButtons{
    margin-top: -3.5rem !important;
  }
  .ulListF {
    line-height: 22px;
    font-size: 11px !important;
    padding-left: 24px !important;
  }
  .iframeC{
    height: 395px;
  }
  .CatalogHead {
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .servicesDetailDiv,.catalog3DCol{
    width: 100%;
    margin-bottom: 20px;
  }
  /* .catalogContainer,.catalog3DColImgDiv{
    border-radius: 10px !important;
  } */
  .catalog3DColImgDiv{
    padding: 0 !important;
  }
  .ListModalParentDiv{
    padding: 1.5rem 1.5rem 1.5rem 2rem;
  }
  .iframeBtDiv h4{
    font-size: 15px;
    font-weight: 500;
  }
  .iframeCtrlDiv {
    padding: 15px;
  }
  .container{
    width: 100%;
  }
}

/* catalog changes final desktop */
.servicesButtonDiv {
    margin-left: 5rem;
    margin-right: 5rem;
    z-index: 1;
    position: relative;
    padding:0 10px 0 10px !important;
    border-radius: 28px !important;
    border: 2px solid #B8B8B8 !important;
    background: #FFF !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;

}
.servicesButtonDiv .btn-group {
  display: flex !important;
  justify-content: space-between !important;
  width: 100% !important;
  padding: 10px !important;
}
.servicesButtonDiv button {
  width: auto !important;
  display: flex;
  flex-direction: column;
  border-bottom: none !important;
  height: 100%;
}
.hoverIcon, .normalIcon{
  margin-right: 0 !important;
  width: auto !important;
}
/* .servicesDetailDiv {
  padding-right: 0;
} */
.catalog3DCol{
  padding-left: 0;
}
.catalog3DColImgDiv{
  border-radius: 0 28px 28px 0 !important;
}
.ListModalParentDiv{
  border-radius: 28px 0 0 28px !important;
}
.detailsColsRow{
  margin-top: -90px;
  height: 550px;
}
.servicesDetailDiv{
  height: 550px;
}
.ListModalParentDiv{
  width: 60%;
}
.catalog3DColImgDiv{
  width: 40%;
}
.servicesDetailDiv{
  display: flex;
  flex-direction: row;
}
.catalog3DColImgDiv{
  background: #fff;
}
.ListModalParentDiv ul li {
  color: #18181b;
  font-size: 17px !important;
  font-weight: 600;
  line-height: 32px !important;
}
.ListModalParentDiv{
  padding: 8rem 1rem 4.5rem 8rem;
}
.ListModalParentDiv h4{
  color: #18181b;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.catalog3DColImgDivS{
  text-align: center;
  margin-left: -12rem;
}
.catalog3DColImgDiv img{
  width: 90%;
  padding-top: 5rem ;
}

@media screen and (min-width:767px) and (max-width:1280px) {
  .servicesDetailDiv {
    display: flex !important;
    flex-direction: row !important;
  }
  .listContainer {
    padding: 0 ;
    margin-right: 0;
    margin-left: 0;
    max-width: -webkit-fill-available;
}
.detailsColsRow {
  height: 450px !important;
}
.catalog3DColImgDiv img{
  margin-left: -6rem;
}
.hoverIcon, .normalIcon{
  height: 60px !important;
  width: 45px !important;
}
.ListModalParentDiv{
  width: 55% !important;
}
.catalog3DColImgDiv{
  width: 45% !important;
}
}
@media screen and (max-width:767px){
  .servicesDetailDiv,.detailsColsRow {
    height: revert !important;
  }
  .ListModalParentDiv{
    min-height:360px;
  }
  .catalog3DColImgDiv{
    min-height: 300px;
  }
}
@media screen and (max-width:1023px) {
  /* ctalog changes final mobile  */
.servicesButtonDiv{
  padding: 10px 0px 6px 10px !important;
    flex-direction: column !important;
    /* justify-content: flex-end; */
    align-items: flex-start;
    gap: 2px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    border-radius: 0px !important;
    border: none !important;
    /* box-shadow: none !important */
}
.hoverIcon, .normalIcon{
  width: 40px !important;
  height: 40px !important;
}
.listContainer{
  padding: 0;
}
.servicesButtonDiv button, .servicesButtonDiv button:hover{
  font-size: 12px !important;
  font-weight: 500;
}
.servicesButtonDiv .btn-group{
  padding: 10px 10px 0px 10px !important;
}
.servicesButtonDiv button:hover {
  border-bottom: 2px solid #F13122 !important;
}
.servicesDetailDiv{
  flex-direction: column;
  padding: 0 !important;
  height: 100% !important;
}
.detailsColsRow {
  margin-left: 0px;
  margin-right: 0px;
}
.ListModalParentDiv{
  width: 100%;
  padding: 6rem 1rem 1rem 1.5rem;
  border-radius: 0px !important;
}
.ListModalParentDiv h4{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 0.5rem;
    /* margin-left: 15px; */
}
.ListModalParentDiv ul li {
  font-size: 12px !important;
  font-weight: 500;
  line-height: 22px !important;
}
.catalog3DColImgDiv{
  width: 100%;
  margin: 0 !important;
  border-radius: 0px !important;
}
.catalog3DColImgDivS{
  margin-left: 0 !important;
}
.catalog3DColImgDiv img{
  margin-top: 0px !important;
  width: 80% !important;
  padding-top: 0px !important;
  /* margin-bottom: 20px; */
}
.detailsColsRow{
 height: revert;
}
.ThreeDButtons{
  display: flex !important;
  align-items: center;
  overflow: overlay;
  overflow-x: scroll;
}
.ThreeDButtons button{
  min-width: 165px !important;
  display: flex !important;
  align-items: center;
  margin-right: 25px !important;
}
.ThreeDButtons img{
  width: 30px !important;
  height: 35px !important;
}
.ThreeDButtons p{
  font-size: 14px !important;
}
}






.servicesButtonDiv button{
  height: 100%;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  border-radius: 0px !important;
}
.servicesButtonDiv button:active,.servicesButtonDiv button:focus {
  border-bottom: 2px solid #F13122 !important;
}
@media screen and (min-width:1025px) {
.servicesButtonDiv button:hover {
  border-bottom: none !important;
}
}